name: Update pomerium-desktop
on:
  repository_dispatch:
    types: [desktop-client-release]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          token: ${{ secrets.APPARITOR_GITHUB_TOKEN }}
      - run: ./scripts/desktop-client-release
        env:
          VERSION: ${{ github.event.client_payload.version }}
      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9
        with:
          commit_message: "update pomerium-desktop cask for version v${{ github.event.client_payload.version }}"
