name: Update pomerium-desktop
on:
  repository_dispatch:
    types: [desktop-client-release]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          token: ${{ secrets.APPARITOR_GITHUB_TOKEN }}
      - run: ./scripts/desktop-client-release
        env:
          VERSION: ${{ github.event.client_payload.version }}
      - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3
        with:
          commit_message: "update pomerium-desktop cask for version v${{ github.event.client_payload.version }}"
